body{
    background-color: indianred;
}
#headerTitle{
    text-align: center;
    width: 300px;
}
input{
    display: block;
    margin: auto;
    margin-top: 2%;
}
#name{
    display: inline;
}
label{
    margin-left: 41%;
}
p{
    background-color: black;
    color: bisque;
    width: 300px;
    margin-top: 0%;
}
